manifest.mainScript = 'beast_analysis.nf'

seed = new Date().getTime();
burnin=10;
thinning_factor=10;

params {
    n=2;
    burnin=burnin;
    thinning_factor=thinning_factor;
    beast_options="";
    jvm_options="-Xms64m -Xmx2048m";
    seed=seed;
    save_every=0;
    tree_burnin=burnin;
    tree_thinning_factor=thinning_factor;
    xml = null;
    data = null;
    template=null;
}
